body {
    background-color: rgb(133, 124, 250);
    padding: 0px;
    margin: 0px;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

header {
    background-color: rgb(158, 133, 100);
    padding: 15px;
    width: 1475px;
    height: 200px;
    margin-top: -8px;
    margin-left: -8px;
}

#homeIco {
    height: 50px;
    width: 50px;
}

#libaryIco {
    height: 50px;
    width: 50px;
}

#galleryIco {
    height: 50px;
    width: 50px;
}

#aboutIco {
    height: 50px;
    width: 50x;
}

#contactIco {
    height: 50px;
    width: 50px;
}

nav {
    width: 550px;
    height: 110px;
    padding: 5px
}

nav ul {
    display: flex;
}
   
:root {
    --body-background-color: #82a8ee;
}
   
.navigation {
    background-color: #f0f6ff;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}
   
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
   
.navigation a {
    display: block;
    padding: 1.5rem;
    position: relative;
    text-decoration: none;
}
   
.navigation a:focus::after,
.navigation a:hover::after {
    opacity: 1;
}
   
.navigation a::after {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
}

 #logo {
    float: left;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 42.5px;
    margin-bottom: 15px;
    margin-right: 200px;
    background-color: blue;
    color: white;
} 

nav {
    margin-top: 32.5px;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #f7c2af;
    font-size: xx-large;
    margin: 2px;
}

nav a:hover {
    background-color: rgb(164, 240, 88);
}

content {
    width: 1890px;
    height: 2500px;
}

#slaytEkrani {
    width: 1600px;
    height: 750px;
    background-color: #f7c2af;
    margin: auto;
    margin-top: 50px;
}

#kutuphaneKutulari {
    width: 1366px;
    margin-left: 228px;
    margin-right: 228px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    border-style: solid;
    border-width: 5px;
    float: left;
    background-color: grey;
}

.kutu {
    width: 400px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    margin: 25px;
    float: left ;
    background-color: green;
}

.clear {
    clear: both;
}

footer {
    background-color: darkblue;
    width: 1897px;
    height: 100px;
    padding-top: 50px;
    color: white;
}

footer p{
    font-size: large;
    margin-left: 850px;
}


