body {
    background-color: rgb(133, 124, 250);
    padding-top: 0px;
}

header {
    background-color: rgb(158, 133, 100);
    padding: 15px;
    width: 1890px;
    height: 100px;
    margin-top: -8px;
    margin-left: -8px;
}

#logo {
    float: left;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
    margin-right: 400px;
    background-color: blue;
    color: white;
}

nav {
    margin-top: 32.5px;
    
    
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: #f7c2af;
    font-size: xx-large;
    margin: 2px;
}

nav a:hover {
    background-color: yellowgreen;
    color: rgb(0, 0, 0);
}

content {
    width: 1890px;
    height: 2500px;
}

#slaytEkrani {
    width: 1600px;
    height: 750px;
    background-color: #f7c2af;
    margin: auto;
    margin-top: 50px;
}

#kutuphaneKutulari {
    width: 1366px;
    margin-left: 228px;
    margin-right: 228px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    border-style: solid;
    border-width: 5px;
    float: left;
    background-color: grey;
}

.kutu {
    width: 400px;
    height: 200px;
    border-style: solid;
    border-width: 3px;
    margin: 25px;
    float: left ;
    background-color: green;
}

