
/* index.html CSS kodları*/
body {
    background-color: rgb(204, 203, 252);
    padding: 0px;
    margin: 0px;
    scrollbar-color: #000000;
    width:100%;
    min-width:1000px;
    height:auto;
}

::-webkit-scrollbar {
    width: 0px;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

header {
    background-color: rgb(46, 10, 177);
    padding: 15px;
    padding-top: 7.5px;
    width: 1418px;
    height: 100px;
    margin-left: -8px;
    margin-bottom: 80px;
    top: 0px;
    box-shadow: 2px 4px 10px 1px;
    position: fixed;
    z-index: 1;
}

#logo {
    float: left;
    padding: 10px;
    padding-left: 16.5px;
    margin-top: 12px;
    padding-right: 16.5px;
    margin-left: 20px;
    margin-right: 150px;
    background-color: rgb(255, 255, 255);
    color: white;
    border-radius: 40px;
    width: 65px;
    height: 65px;
} 

#logo a {
    text-decoration: none;
}

#logoPng {
    width: 45px;
    height: 45px;
    margin-left: 9px;
    margin-bottom: -8px; 
}

#logo h1 {
    font-size: 10px;
    text-shadow: 0px 0px 0.5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1px;
    color: #000000;
}

nav {
    width: 750px;
    height: 57.5px;
    padding: 5px;
    margin-top: 20px;
    background-color: #f0f6ff;
    border-radius: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
}

nav a{
    margin: 2px;
    width: 80px;
    display: block;
    padding: 11px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
}

:root {
    --body-background-color: #82a8ee;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a:focus::after,
.navigation a:hover::after {
    opacity: 1;
    border-radius: 10px;
}

.navigation a::after {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    border-radius: 10px;
}


nav #p1 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 15px;
    margin-top: -6px;
    margin-bottom: -10px;
}

nav #p2 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 3px;
    margin-top: -6px;
    margin-bottom: -10px;
}


nav #p3 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 25px;
    margin-top: -6px;
    margin-bottom: -10px;
}

nav #p4 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 9px;
    margin-top: -6px;
    margin-bottom: -10px;
}

nav #p5 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 23px;
    margin-top: -6px;
    margin-bottom: -10px;
}

nav a:hover {
    background-color: rgb(164, 240, 88);
}

#homeIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#libaryIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#galleryIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#aboutIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#contactIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

/* ataturk_kitapligi.html kodları */
.Temizle{
    clear: both;
}

#baslik{
    margin-left: 50px

}

#altbilgi{
    margin-left: 50px;
}

#icerik{
    background-color: rgb(226, 211, 205);
    border-radius: 15px;
    padding: 20px;
    margin: auto;
    width: 1200px;
    margin-top: 170px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 1px
}

#icerik img {
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px #000000;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 40px;
    float: left;
}

#icerik p {
    text-align:justify;
    margin-right: 30px;
}

#icerik h1 {
    font-style: italic;
    margin-left: 40px;
    text-shadow: 1px 1px 1px grey;
}

#icerik h3 {
    font-style: italic;
    margin-left: 30px;
    text-shadow: 1px 1px 1px grey;
}

#icerik h1, h3, p, li {
    font-family: Arial, Helvetica, sans-serif;
}

#altbilgi_imkanlar {
    float: left;
    margin-right: 300px ;
    margin-top: -15px;
}
/* ataturk_kitapligi.html kodları */

footer {
    background-color: rgb(46, 10, 177);
    width: 1451px;
    height: 40px;
    color: white;
    box-shadow: 5.5px -1px 10px 1px black;
    margin-left: -12px;
    padding-top: 1px;
    padding-bottom: 10px;
}

footer p{
    font-size: large;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
}