
/* index.html CSS kodları*/
body {
    background-color: rgb(204, 203, 252);
    padding: 0px;
    margin: 0px;
    scrollbar-color: #000000;
}

::-webkit-scrollbar {
    width: 0px;
}

.WebContainer{
    width:100%;
    min-width:1000px;
    height:auto;
}

header {
    background-color: rgb(46, 10, 177);
    padding: 15px;
    padding-top: 7.5px;
    width: 100%;
    height: 100px;
    margin-left: -8px;
    margin-bottom: 80px;
    top: 0px;
    box-shadow: 2px 4px 10px 1px;
    position: fixed;
    z-index: 1;
}

#logo {
    float: left;
    padding: 10px;
    padding-left: 16.5px;
    margin-top: 9.5px;
    padding-right: 16.5px;
    margin-left: 30px;
    margin-right: 80px;
    background-color: rgb(255, 255, 255);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    width: 65px;
    height: 65px;
} 

#logo:hover {
    background-color: rgb(204, 203, 252);
}

#logo a {
    text-decoration: none;
}

#logoPng {
    width: 45px;
    height: 45px;
    margin-left: 9px;
    margin-bottom: -8px; 
}

#logo h1 {
    font-size: 10px;
    text-shadow: 0px 0px 0.5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 1px;
    color: #000000;
}

nav {
    width: 52.08%;
    height: 57.5px;
    padding: 5px;
    margin-top: 20px;
    margin-right: 3.5%;
    background-color: #f0f6ff;
    border-radius: 15px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    float: left;
}

nav ul {
    display: flex;
}

nav a{
    margin: 2px;
    width: 80px;
    display: block;
    padding: 11px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    text-decoration: none;
    border-radius: 10px;
    width: 100px;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a:focus::after,
.navigation a:hover::after {
    opacity: 1;
    border-radius: 10px;
}

.navigation a::after {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    border-radius: 10px;
}


nav #p1 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 15px;
    margin-top: -6px;
    margin-bottom: -10px;
}

nav #p2 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 3px;
    margin-top: -6px;
    margin-bottom: -10px;
}


nav #p3 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 25px;
    margin-top: -6px;
    margin-bottom: -10px;
}

nav #p4 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 9px;
    margin-top: -6px;
    margin-bottom: -10px;
}

nav #p5 {
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    color: #000000;
    margin: auto;
    margin-left: 23px;
    margin-top: -6px;
    margin-bottom: -10px;
}

nav a:hover {
    background-color: rgb(204, 203, 252);
}

#homeIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#libaryIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#galleryIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#aboutIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#contactIco {
    height: 25px;
    width: 25px;
    margin-left: 35px;
    margin-top: -5px;
}

#girisKayitArama {
    margin-top: 38px;
}

.button, #sayfadaAra {
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    box-shadow: 0px 0px 5px 0.5px #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

#kayitOl {
    margin-left: 5px;
}

.button {
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
    background-color: rgb(204, 203, 252);
    color: #000000;
}

#sayfadaAra {
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 20px;
    box-shadow: 0px 0px 7px 0.5px #000000;
}

content {
    width: 100%;
    height: 1000px;
}

#form {
    width: 30%;
    height: 250px;
    background-color: rgb(46, 10, 177);
    margin-top: 19.8%;
    margin-bottom: 12.5%;
    margin-left: 32.5%;
    margin-right: 30%;
    padding: 2%;
    border-radius: 3%;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 0px 10px 1px;
}

#formElemanlari {
    width: 100%;
    margin-left: 22%;
    margin-top: 4.9%;
}

#form p {
    color: white;
    margin-bottom: -0.1%;
    margin-left: 2.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#kullanici_adi, #sifre {
    width: 50%;
    height: 25px;
    padding-left: 3%;
    margin: 1%;
    border-style: solid;
    border-radius: 20px;
}

#giris_yap {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 7%;
    margin-left: 18%;
    border-style: solid;
    border-width: 3px;
    border-color: #82a8ee;
    box-shadow: 0px 0px 15px 1px;
    border-radius: 20px;
    font-size: 20px;
    font-family: cursive ;
    font-weight: bold;
}

#giris_yap:hover {
    background-color: #82a8ee;
    color: white;
    box-shadow: 0px 0px 10px 1px #82a8ee;
}


footer {
    background-color: rgb(46, 10, 177);
    width: 100%;
    height: 40px;
    color: white;
    box-shadow: 0px 0px 10px 1px black;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-bottom: -30%;
}

footer p{
    font-size: large;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
}
